.contetError,
.containerError,
.inputErrorLabel {
  font-size: 12px;
  color: rgb(135, 3, 3);
}

.containerError {
  width: 85%;
}

.inputErrorLabel {
  width: 95%;
}

.containerError,
.inputErrorLabel {
  display: block;
}
