.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputContainer .inputField,
.inputContainer .inputTeaxtarea {
  font-size: 28px;
  border: 2px solid #42434b;
  border-radius: 8px;
}

.inputContainer .inputField {
  width: 428px;
  height: 55px;
  padding-left: 20px;
  margin: 10px;
}

.inputContainer .inputTeaxtarea {
  width: 736px !important;
  height: 120px !important;
  padding: 20px;
  resize: none;
}

.inputContainer .inputError {
  border-color: rgb(135, 3, 3);
}
