.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.signup .signup__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 520px;
  height: 580px;
  border-radius: 8px;
  border: 2px solid #42434b;
}

.signup .signup__content .signup__title {
  font-size: 28px;
  padding-bottom: 40px;
}

.signup .signup__content .signup__button {
  background-color: #cbccd6;
  height: 55px;
  width: 139px;
  border: 2px solid #42434b;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 28px;
}

.signup .signup__content .signup__button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 90%;
}

.signup .signup__login-link {
  margin-top: 15px;
  font-size: 22px;
}
